<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <remove name="Default" />
        <!--<add name="mviListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="MVI.txt" />-->
        <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="CrmBaseUrl" value="https://dvagov-udo-dev.crm9.dynamics.com" />
    <add key="ReportServerDbConnectionString" value="Data Source=vac21sqdverd01.database.usgovcloudapi.net;Initial Catalog=VEIS;Persist Security Info=True;User ID=VEISWebApplication;Password=HuyT8l4@aCo9Av2" />
    <!-- 
         // Substitute your app registration values that can be obtained after you  
         // register the app in Active Directory on the Microsoft Azure portal.  
    -->
    <add key="ClientId" value="8fecdaff-0a69-42c1-9954-d604339824c1" />
    <add key="ClientSecret" value="CXxsZxLUPFoKvonB3IkZMmCg/4AkXKuABe0PPmhLjGA=" />
    <add key="Authority" value="https://login.microsoftonline.com/e95f1b23-abaf-45ee-821d-b7ab251ab3bf" />
    <add key="OrganizationServiceRelativeUrl" value="/XRMServices/2011/Organization.svc/web?SdkClientVersion=9.1" />
    <add key="VEISBaseUrl" value="https://veis.va.gov" />
    <add key="TentantId" value="edeazclabs.va.gov" />
    <add key="DiscoveryServiceUrl" value="" />
    <!-- VEIS Configuration -->
    <add key="ECUri" value="https://Va-veis-dev-apim.veis.va.gov/" />
    <!--Use VEIS Base Url Instead ??-->
    <add key="AADTenent" value="f7c49e36-971b-42c7-b244-a88eed6c0bf6" />
    <!--<add key="AADTenent" value="aedb1f4f-f48e-4cd8-ace7-8490a5f93098" />-->
    <add key="AADInstance" value="https://login.microsoftonline.us/{0}" />
    <add key="OAuthClientId" value="58d50ca3-b921-4d9b-ac76-8965be2eb80b" />
    <add key="OAuthResourceId" value="4a77476c-ceed-45db-ad7e-ac2bbbc4f72a" />
    <add key="AzureKeyVaultUrl" value="https://vadevteastveiskv1.vault.usgovcloudapi.net/secrets/UDO-MAG-DEV-SP-Secret/77da7bf20d154377be8f437ea975b37e" />
    <add key="Ocp-Apim-Subscription-Key" value="88784cf9396e41dab087c90a5da0c2c1" />
    <add key="OAuthClientSecret" value="4RdVDdhq8cv/h2263Ojdy8fD3JI9OwHcr5hOkntAwTc=" />
    <!-- END VEIS CONFIG-->
    <!-- LOB Configuration -->
    <add key="LobApimUri" value="https://Va-veis-dev-apim.veis.va.gov/" />
    <!-- END LOB CONFIG-->
    <!-- Logger Name -->
    <add key="LoggerName" value="mvilob-dev" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.4" newVersion="6.0.0.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="aiAppender" type="Microsoft.ApplicationInsights.Log4NetAppender.ApplicationInsightsAppender, Microsoft.ApplicationInsights.Log4NetAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="OFF" />
        <levelMax value="OFF" />
      </filter>
    </appender>
    <root>
      <!-- Possible values: ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
      <level value="OFF" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="aiAppender" />
    </root>
  </log4net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>