<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CrmConnection" connectionString="Url=http://SQL12GccMig/udodev; authtype=AD" />
    <add name="localDbConnection" connectionString="Data Source=SQL12GCCMig\SQL2014;Initial Catalog=VEIS;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
<add name="azureDbConnection" connectionString="Data Source=vac21sqdverd01.database.usgovcloudapi.net;Initial Catalog=VEIS;Persist Security Info=True;User ID=VEISWebApplication;Password=HuyT8l4@aCo9Av2" />
    
  </connectionStrings>
  <appSettings>
    <add key="CrmBaseUrl" value="https://dvagov-udo-dev.crm9.dynamics.com" />


    <!-- 
         // Substitute your app registration values that can be obtained after you  
         // register the app in Active Directory on the Microsoft Azure portal.  
    -->
    <add key="ClientId" value="8fecdaff-0a69-42c1-9954-d604339824c1" />
    <add key="ClientSecret" value="CXxsZxLUPFoKvonB3IkZMmCg/4AkXKuABe0PPmhLjGA=" />
    <add key="Authority" value="https://login.microsoftonline.com/e95f1b23-abaf-45ee-821d-b7ab251ab3bf" />

    <add key="OrganizationServiceRelativeUrl" value="/XRMServices/2011/Organization.svc/web?SdkClientVersion=9.1" />

    <add key="VEISBaseUrl" value="https://veis.va.gov" />
    <add key="TentantId" value="edeazclabs.va.gov" />
    <add key="DiscoveryServiceUrl" value="" />

    <!-- VEIS Configuration -->
    <add key="ECUri" value="https://Va-veis-dev-apim.veis.va.gov/" />
    <!--Use VEIS Base Url Instead ??-->
    <add key="AADTenent" value="f7c49e36-971b-42c7-b244-a88eed6c0bf6" />
    <!--<add key="AADTenent" value="aedb1f4f-f48e-4cd8-ace7-8490a5f93098" />-->
    <add key="AADInstance" value="https://login.microsoftonline.us/{0}" />
    <add key="OAuthClientId" value="58d50ca3-b921-4d9b-ac76-8965be2eb80b" />
    <add key="OAuthResourceId" value="4a77476c-ceed-45db-ad7e-ac2bbbc4f72a" />
    <add key="AzureKeyVaultUrl" value="https://vadevteastveiskv1.vault.usgovcloudapi.net/secrets/UDO-MAG-DEV-SP-Secret/77da7bf20d154377be8f437ea975b37e" />
    <add key="Ocp-Apim-Subscription-Key" value="88784cf9396e41dab087c90a5da0c2c1" />

    <add key="OAuthClientSecret" value="4RdVDdhq8cv/h2263Ojdy8fD3JI9OwHcr5hOkntAwTc=" />
    
    <add key="SQLDbName" value="VEIS" />
    <!-- END VEIS CONFIG-->
  

    <!-- LOB Configuration -->
    <add key="LobApimUri" value="https://Va-veis-dev-apim.veis.va.gov/" />
    <!-- END LOB CONFIG-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Rest.ClientRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.9.1.0" newVersion="2.9.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>