<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IntentToFileWebServicePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://linktestbepbenefits.vba.va.gov:80/IntentToFileWebServiceBean/IntentToFileWebService"
                binding="basicHttpBinding" bindingConfiguration="IntentToFileWebServicePortBinding"
                contract="IntentToFileServiceReference.IntentToFileWebService"
                name="IntentToFileWebServicePort" />
        </client>
    </system.serviceModel>
</configuration>