<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="CrmBaseUrl" value="https://dvagov-udo-preprod2.crm9.dynamics.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <!-- 
         // Substitute your app registration values that can be obtained after you  
         // register the app in Active Directory on the Microsoft Azure portal.  
    -->
    <add key="ClientId" value="dc6a6005-1900-488d-be4d-e91ce264520d" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ClientSecret" value="kF[W==7783HL+CJ-o0U3hRsCRZEhLWb2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--<add key="Authority" value="https://login.microsoftonline.com/e95f1b23-abaf-45ee-821d-b7ab251ab3bf" />
    <add key="OrganizationServiceRelativeUrl" value="/XRMServices/2011/Organization.svc/web?SdkClientVersion=9.1" />-->



    <!-- VEIS Configuration -->
    <add key="ECUri" value="https://nonprod.integration.d365.va.gov/veis/PREPROD"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--
    <add key="AADTenent" value="f7c49e36-971b-42c7-b244-a88eed6c0bf6" />
    <add key="AADInstance" value="https://login.microsoftonline.us/{0}" />
    <add key="OAuthClientId" value="58d50ca3-b921-4d9b-ac76-8965be2eb80b" />
    <add key="OAuthClientSecret" value="4RdVDdhq8cv/h2263Ojdy8fD3JI9OwHcr5hOkntAwTc=" />-->
    <add key="OAuthResourceId" value="51472684-3639-41eb-9d5b-9d8c68f173a5" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Ocp-Apim-Subscription-Key" value="4a61ad0eaea2445fbbad9d81dbbe1d98"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Ocp-Apim-Subscription-Key-S" value=""/>
    <add key="Ocp-Apim-Subscription-Key-E" value=""/>

    <!-- END VEIS CONFIG-->



    <!-- LOB Configuration -->
    <add key="LobApimUri" value="https://nonprod.integration.d365.va.gov/veis/PREPROD"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- END LOB CONFIG-->
  </appSettings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <!--<add name="appealsListenerINT" type="System.Diagnostics.TextWriterTraceListener" initializeData="UDO.Appeals.WebApi.log" xdt:Transform="SetAttributes" xdt:Locator="Match(type)" />-->
        <add name="myAppInsightsListenerINT" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener" xdt:Transform="SetAttributes" xdt:Locator="Match(type)"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>