<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="CrmBaseUrl" value="https://dvagov-udo-dev.crm9.dynamics.com" />
    <add key="CRMTenent" value="SOME UNKNOWN GUID" />
    <!-- 
         // Substitute your app registration values that can be obtained after you  
         // register the app in Active Directory on the Microsoft Azure portal.  
    -->
    <add key="ClientId" value="8fecdaff-0a69-42c1-9954-d604339824c1" />
    <add key="ClientSecret" value="CXxsZxLUPFoKvonB3IkZMmCg/4AkXKuABe0PPmhLjGA=" />
    <add key="Authority" value="https://login.microsoftonline.com/e95f1b23-abaf-45ee-821d-b7ab251ab3bf" />
    <add key="OrganizationServiceRelativeUrl" value="/XRMServices/2011/Organization.svc/web?SdkClientVersion=9.1" />
    <!-- VEIS Configuration -->
    <add key="ECUri" value="https://Va-veis-dev-apim.veis.va.gov/" />
    <add key="AADTenent" value="f7c49e36-971b-42c7-b244-a88eed6c0bf6" />
    <add key="AADInstance" value="https://login.microsoftonline.us/{0}" />
    <add key="OAuthClientId" value="58d50ca3-b921-4d9b-ac76-8965be2eb80b" />
    <add key="OAuthResourceId" value="4a77476c-ceed-45db-ad7e-ac2bbbc4f72a" />
    <add key="AzureKeyVaultUrl" value="https://vadevteastveiskv1.vault.usgovcloudapi.net/secrets/UDO-MAG-DEV-SP-Secret/77da7bf20d154377be8f437ea975b37e" />
    <add key="Ocp-Apim-Subscription-Key" value="88784cf9396e41dab087c90a5da0c2c1" />
    <add key="Ocp-Apim-Subscription-Key-S" value="" />
    <add key="Ocp-Apim-Subscription-Key-E" value="" />
    <add key="OAuthClientSecret" value="4RdVDdhq8cv/h2263Ojdy8fD3JI9OwHcr5hOkntAwTc=" />
    <!-- END VEIS CONFIG-->
    <!-- LOB Configuration -->
    <add key="LobApimUri" value="https://Va-veis-dev-apim.veis.va.gov" />
    <!-- END LOB CONFIG-->

    <!-- Logger Name -->
    <add key="LoggerName" value="peoplelistpayeecodelob-dev"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" />
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Rest.ClientRuntime" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.14.0.17971" newVersion="2.14.0.17971"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <!--<add name="ppllistListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="2020-06-23-PeoplePayee.log" traceOutputOptions="DateTime" />-->
      </listeners>
    </trace>
  </system.diagnostics>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>
    <appender name="aiAppender" type="Microsoft.ApplicationInsights.Log4NetAppender.ApplicationInsightsAppender, Microsoft.ApplicationInsights.Log4NetAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="OFF"/>
        <levelMax value="OFF"/>
      </filter>
    </appender>
    <root>
      <!-- Possible values: ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
      <level value="OFF"/>
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="aiAppender"/>
    </root>
  </log4net>
</configuration>
<!--ProjectGuid: 5D614160-9F61-47B3-AEF1-22F13FC5149E-->