<?xml version="1.0"?>
<configuration>
	<appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
   xmlns="http://www.w3.org/2001/04/xmlenc#">
   <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
   <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
    <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
     <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
     <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
      <KeyName>Rsa Key</KeyName>
     </KeyInfo>
     <CipherData>
      <CipherValue>ODciLYoZz0A9gh8wEDRuh9uFBjSpBRn6lUaf6eN69SK6ZqySZNlX1Ob77fOUPiRM1vOL55fZzjqAw5rdU+0JjoUBFuzACMVrdGpL/5XAmuPzWNn8OSQnv/LVqvk4sVqBAhJQInKdEeuxzvM+El2qpMZlY4fIwDKYkgoBETkjyhI=</CipherValue>
     </CipherData>
    </EncryptedKey>
   </KeyInfo>
   <CipherData>
    <CipherValue>m74+t5UybpwXkBemr4z7sGMzog6ORObHLCqQeK3D6sD/+B9M69c2MoON/0nLxzkobr1X3x79/AtkGMSyZXuH7iUWtnebYoTL6Wk+NmhLn7QJW8zKkEPRLSGoFmMXUFLZEcmz86lJFPKCrBBvRDI7CFA6jjVMWC1Knk4G58E0pUL/1psUixcKREX3Ct3xlmy60MylPO6lXJr03HD6S8RZS5qgc/IiME67G5+2X5SNb6iYaUelrhJCGeqR5ZOdnUw0m/tHRf47v7DxBKPA4tGqTca30Xf9U1BnKuIYJhDaFc+Tp7IOUHaiDIc6Y8gwEC0EOs1ED0GWtIr8oFupig7ajF3hVjDVgr/bfdK0ce5A6ZQyMCNKB3vJ3cAuEcsgzVf6jNpbxxH/iy7pZMmPklSCLZiSj+TK74Z8avcWE/+e1+JHTM2wa6BqOimJSiPNLg+YPkqhxv78frYznhrB40KG+aYiXqLoXW7QGBHvk6IvD1Qr49qL8GCKgLdZHBA8Ydy/xXoAQJcgfK9JH9l1p091bZiRPK4XoGCIClgF4JA8yPteQnG3XqCCAGhPJmFt+GBN</CipherValue>
   </CipherData>
  </EncryptedData>
 </appSettings>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>wOSuMaJAZ0LhB3HIJRCrKHzKthh8yOo9vbjJwwRE6cunCuWnOJh6sszok/W4WVED0vmkxSurO2DQA1pd8jtOOnpi8ZMRot8qVgMDOsMX9oP2qEz0lPBJz2u2wqWwd9RNE8Qbbry2hGGZAPvDNJFlP6lRw6ZmR0UkiVz0eto70ig=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>tbx+dhY0PzQjHbSafPaLbCqmui5quHTWK2abAYQUc/rfI3RzEDVy+8RC++ZCiJBIjbihIOt8pbY92iGSY4KtVoi4u4n/0vxf7d3xmoLADKozG7EHgOcugXSFlxBzw4B5VHgDAOxKP4pectyhdeA8Zl31dWXeYRJOHOX0JPKRo+VIs9jK48b7qg8Ujbn7q/Npkn6Nc4xcqeoL8SZkuLPTxw52DUiM3wiFsLGYhCjyTHrtHz1LgdxFneGHgGGOWwwP</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
	<system.web>
	<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
	</system.web>
	<system.net>
		<defaultProxy enabled="true" useDefaultCredentials="true"/>
	</system.net>
  <system.webServer>
	<validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>
