<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="CrmServer" value="http://10.153.95.69"/>
		<!--<add key="CrmServer" value="http://10.153.50.201"/>-->
		<!--<add key="CrmServer" value="https://InternalCRM.pint.crm.vrm.aide.oit.va.gov"/>-->
		<add key="CrmOrgUniqueName" value="VRM3"/>
		<!--<add key="CrmOrgUniqueName" value="VRM3"/>-->
		<!--<add key="CrmOrgServiceUrl" value="http://10.153.95.69/VRM3/XRMServices/2011/Organization.svc"/>-->
		<add key="CrmOrgServiceUrl" value=""/>

		<!--Leave these values blank unless CRM org uses claim-based authentication-->
		<!--<add key="UserName" value="VRMUDTask"/>-->
		<!--<add key="Pwd" value="w4bVIcB4TVueC0Pp8sp1"/>-->
		<add key="UserName" value=""/>
		<add key="Pwd" value=""/>

		<!--<add key="SMTPServer" value="10.153.95.69"/>-->
		<add key="SMTPServer" value="smtp.root.aide.oit.va.gov"/>
		<add key="TeamName" value="Supervisors"/>
		<add key="FromName" value="richk@infostrat.com"/>

	</appSettings>
  <connectionStrings>
    <add name="Xrm" connectionString="Server=https://vrm3.pint.crm.vrm.aide.oit.va.gov; Username=VRMUDTask; Password=w4bVIcB4TVueC0Pp8sp1" />
  </connectionStrings>
	<system.web>
	<customErrors mode="Off"/>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
	</system.web>
	<system.net>
		<defaultProxy enabled="true" useDefaultCredentials="true"/>
	</system.net>
  <system.webServer>
	<validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>
