<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ReportServerReportExecutionSecurityConfiguration" type="VEIS.Core.Configuration.ObjectConfigHandler, VEIS.Core" />
  </configSections>
  <ReportServerReportExecutionSecurityConfiguration type="VEIS.ReportServerReportExecution.Services.ReportServerReportExecutionSecurityConfiguration, VEIS.ReportServerReportExecution.Services">
    <UserName>VHAISDFOLEYD</UserName>
    <Password></Password>
    <ClientMachine>10.224.104.174</ClientMachine>
    <StnId>317</StnId>
    <ApplicationId>CRMUD</ApplicationId>
    <RequiresClientCertificate>false</RequiresClientCertificate>
    <ClientCertificateName>591B3A78D0F677FC6E2CA1FAB3B3839F1A4C0887</ClientCertificateName>
    <EnableLogging>true</EnableLogging>
  </ReportServerReportExecutionSecurityConfiguration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="assembly"/>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="ReportExecutionServicePortBinding" maxReceivedMessageSize="214783647">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" proxyCredentialType="Ntlm" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://vrmdecrmo15sql1.dev.vrmcloud.local/ReportServer/ReportExecution2005.asmx"
        binding="basicHttpBinding" bindingConfiguration="ReportExecutionServicePortBinding"
        contract="ReportServerReportExecution.ReportExecutionServiceSoap"
        name="ReportExecutionServiceSoap" />
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="schemaValidator" type="VRM.Integration.Servicebus.Core.SchemaValidationBehaviorExtensionElement, VRM.Integration.Servicebus.Core, Version=1.0.0.0, Culture=neutral"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="XSDValidatorServiceEndpointBehavior">
          <schemaValidator validateRequest="false" validateReply="true">
            <schemas>
              <add location="XSD\PersonWebService.xsd" />
            </schemas>
          </schemaValidator>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>