<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="VetRecordWebServicePortBinding" />
        <binding name="PersonWebServicePortBinding" />
        <binding name="StandardDataWebServicePortBinding" />
        <binding name="BasicHttpBinding_IPdfService" />
        <binding name="AwardWebServicePortBinding" />
        <binding name="AddressWebServicePortBinding" />
        <binding name="ClaimantWebServicePortBinding" />
        <binding name="BasicHttpBinding_IPdfService1" />
        <binding name="PersonWebServicePortBinding1" />
        <binding name="StandardDataWebServicePortBinding1" />
        <binding name="VetRecordWebServicePortBinding1" />
        <binding name="VnpBnftClaimServicePortBinding" />
        <binding name="VnpPersonServicePortBinding" />
        <binding name="VnpProcFormServicePortBinding" />
        <binding name="VnpProcServicePortBinding" />
        <binding name="VnpPtcpntAddrsServicePortBinding" />
        <binding name="VnpPtcpntPhoneServicePortBinding" />
        <binding name="VnpPtcpntRlnshpServicePortBinding" />
        <binding name="VnpPtcpntServicePortBinding" />
        <binding name="AwardWebServicePortBinding1" />
        <binding name="AddressWebServicePortBinding1" />
        <binding name="VnpPtcpntAddrsServicePortBinding1" />
        <binding name="AwardWebServicePortBinding2" />
        <binding name="ClaimantWebServicePortBinding1" />
        <binding name="PersonWebServicePortBinding2" />
        <binding name="StandardDataWebServicePortBinding2" />
        <binding name="VnpBnftClaimServicePortBinding1" />
        <binding name="VnpPersonServicePortBinding1" />
        <binding name="VnpProcFormServicePortBinding1" />
        <binding name="VnpProcServicePortBinding1" />
        <binding name="VnpPtcpntPhoneServicePortBinding1" />
        <binding name="VnpPtcpntRlnshpServicePortBinding1" />
        <binding name="VnpPtcpntServicePortBinding1" />
        <binding name="BasicHttpBinding_IPdfService2" />
        <binding name="VetRecordWebServicePortBinding2" />
      </basicHttpBinding>
      <customBinding>
        <binding name="DocOperationsSoapBinding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="DocOperationsSoapBinding1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://beplinktest.vba.va.gov:80/VetRecordServiceBean/VetRecordWebService" binding="basicHttpBinding" bindingConfiguration="VetRecordWebServicePortBinding" contract="VetRecordWebServiceReference.VetRecordService" name="VetRecordWebServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov:80/PersonWebServiceBean/PersonWebService" binding="basicHttpBinding" bindingConfiguration="PersonWebServicePortBinding" contract="PersonWebServiceReference.PersonWebService" name="PersonWebServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov:80/StandardDataWebServiceBean/StandardDataWebService" binding="basicHttpBinding" bindingConfiguration="StandardDataWebServicePortBinding" contract="StandardDataWebServiceReference.StandardDataWebService" name="StandardDataWebServicePort" />
      <endpoint address="https://vbaphi5topp.vba.va.gov:7002/VABFI/services/vva" binding="customBinding" bindingConfiguration="DocOperationsSoapBinding" contract="DocOperationsReference.DocOperations" name="DocOperationsImplPort" />
      <endpoint address="http://vrmdemtwfe01:81/PdfService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPdfService" contract="PdfServiceReference.IPdfService" name="BasicHttpBinding_IPdfService" />
      <endpoint address="http://linktestbepbenefits.vba.va.gov:80/AwardWebServiceBean/AwardWebService" binding="basicHttpBinding" bindingConfiguration="AwardWebServicePortBinding" contract="AwardWebServiceReference.AwardWebService" name="AwardWebServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov:80/AddressWebServiceBean/AddressWebService" binding="basicHttpBinding" bindingConfiguration="AddressWebServicePortBinding" contract="AddressWebServiceReference.AddressWebService" name="AddressWebServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov:80/ClaimantServiceBean/ClaimantWebService" binding="basicHttpBinding" bindingConfiguration="ClaimantWebServicePortBinding" contract="ClaimantWebServiceReference.ClaimantService" name="ClaimantWebServicePort" />
      <endpoint address="https://vbaphi5topp.vba.va.gov:7002/VABFI/services/vva" binding="customBinding" bindingConfiguration="DocOperationsSoapBinding1" contract="DocOperationsReference.DocOperations" name="DocOperationsImplPort1" />
      <endpoint address="http://vrmdemtwfe01:81/PdfService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPdfService1" contract="PdfServiceReference.IPdfService" name="BasicHttpBinding_IPdfService1" />
      <endpoint address="http://beplinktest.vba.va.gov:80/PersonWebServiceBean/PersonWebService" binding="basicHttpBinding" bindingConfiguration="PersonWebServicePortBinding1" contract="PersonWebServiceReference.PersonWebService" name="PersonWebServicePort1" />
      <endpoint address="http://beplinktest.vba.va.gov:80/StandardDataWebServiceBean/StandardDataWebService" binding="basicHttpBinding" bindingConfiguration="StandardDataWebServicePortBinding1" contract="StandardDataWebServiceReference.StandardDataWebService" name="StandardDataWebServicePort1" />
      <endpoint address="http://beplinktest.vba.va.gov:80/VetRecordServiceBean/VetRecordWebService" binding="basicHttpBinding" bindingConfiguration="VetRecordWebServicePortBinding1" contract="VetRecordWebServiceReference.VetRecordService" name="VetRecordWebServicePort1" />
      <endpoint address="http://beplinktest.vba.va.gov:80/VnpBnftClaimWebServiceBean/VnpBnftClaimService" binding="basicHttpBinding" bindingConfiguration="VnpBnftClaimServicePortBinding" contract="VnpBnftClaimServiceReference.VnpBnftClaimService" name="VnpBnftClaimServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov:80/VnpPersonWebServiceBean/VnpPersonService" binding="basicHttpBinding" bindingConfiguration="VnpPersonServicePortBinding" contract="VnpPersonServiceReference.VnpPersonService" name="VnpPersonServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov:80/VnpProcFormWebServiceBean/VnpProcFormService" binding="basicHttpBinding" bindingConfiguration="VnpProcFormServicePortBinding" contract="VnpProcFormServiceReference.VnpProcFormService" name="VnpProcFormServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov:80/VnpProcWebServiceBean/VnpProcService" binding="basicHttpBinding" bindingConfiguration="VnpProcServicePortBinding" contract="VnpProcServiceReference.VnpProcService" name="VnpProcServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov:80/VnpPtcpntAddrsWebServiceBean/VnpPtcpntAddrsService" binding="basicHttpBinding" bindingConfiguration="VnpPtcpntAddrsServicePortBinding" contract="VnpPtcpntAddrsServiceReference.VnpPtcpntAddrsService" name="VnpPtcpntAddrsServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov:80/VnpPtcpntPhoneWebServiceBean/VnpPtcpntPhoneService" binding="basicHttpBinding" bindingConfiguration="VnpPtcpntPhoneServicePortBinding" contract="VnpPtcpntPhoneServiceReference.VnpPtcpntPhoneService" name="VnpPtcpntPhoneServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov:80/VnpPtcpntRlnshpWebServiceBean/VnpPtcpntRlnshpService" binding="basicHttpBinding" bindingConfiguration="VnpPtcpntRlnshpServicePortBinding" contract="VnpPtcpntRlnshpServiceReference.VnpPtcpntRlnshpService" name="VnpPtcpntRlnshpServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov:80/VnpPtcpntWebServiceBean/VnpPtcpntService" binding="basicHttpBinding" bindingConfiguration="VnpPtcpntServicePortBinding" contract="VnpPtcpntServiceReference.VnpPtcpntService" name="VnpPtcpntServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov:80/AwardWebServiceBean/AwardWebService" binding="basicHttpBinding" bindingConfiguration="AwardWebServicePortBinding1" contract="AwardWebServiceReference.AwardWebService" name="AwardWebServicePort1" />
      <endpoint address="http://beplinktest.vba.va.gov:80/AddressWebServiceBean/AddressWebService" binding="basicHttpBinding" bindingConfiguration="AddressWebServicePortBinding1" contract="AddressWebServiceReference.AddressWebService" name="AddressWebServicePort1" />
      <endpoint address="http://beplinktest.vba.va.gov:80/VnpPtcpntAddrsWebServiceBean/VnpPtcpntAddrsService" binding="basicHttpBinding" bindingConfiguration="VnpPtcpntAddrsServicePortBinding1" contract="VnpPtcpntAddrsServiceReference.VnpPtcpntAddrsService" name="VnpPtcpntAddrsServicePort1" />
      <endpoint address="http://beplinktest.vba.va.gov:80/AwardWebServiceBean/AwardWebService" binding="basicHttpBinding" bindingConfiguration="AwardWebServicePortBinding2" contract="AwardWebServiceReference.AwardWebService" name="AwardWebServicePort2" />
      <endpoint address="http://beplinktest.vba.va.gov:80/ClaimantServiceBean/ClaimantWebService" binding="basicHttpBinding" bindingConfiguration="ClaimantWebServicePortBinding1" contract="ClaimantWebServiceReference.ClaimantService" name="ClaimantWebServicePort1" />
      <endpoint address="http://beplinktest.vba.va.gov:80/PersonWebServiceBean/PersonWebService" binding="basicHttpBinding" bindingConfiguration="PersonWebServicePortBinding2" contract="PersonWebServiceReference.PersonWebService" name="PersonWebServicePort2" />
      <endpoint address="http://beplinktest.vba.va.gov:80/StandardDataWebServiceBean/StandardDataWebService" binding="basicHttpBinding" bindingConfiguration="StandardDataWebServicePortBinding2" contract="StandardDataWebServiceReference.StandardDataWebService" name="StandardDataWebServicePort2" />
      <endpoint address="http://beplinktest.vba.va.gov:80/VnpBnftClaimWebServiceBean/VnpBnftClaimService" binding="basicHttpBinding" bindingConfiguration="VnpBnftClaimServicePortBinding1" contract="VnpBnftClaimServiceReference.VnpBnftClaimService" name="VnpBnftClaimServicePort1" />
      <endpoint address="http://beplinktest.vba.va.gov:80/VnpPersonWebServiceBean/VnpPersonService" binding="basicHttpBinding" bindingConfiguration="VnpPersonServicePortBinding1" contract="VnpPersonServiceReference.VnpPersonService" name="VnpPersonServicePort1" />
      <endpoint address="http://beplinktest.vba.va.gov:80/VnpProcFormWebServiceBean/VnpProcFormService" binding="basicHttpBinding" bindingConfiguration="VnpProcFormServicePortBinding1" contract="VnpProcFormServiceReference.VnpProcFormService" name="VnpProcFormServicePort1" />
      <endpoint address="http://beplinktest.vba.va.gov:80/VnpProcWebServiceBean/VnpProcService" binding="basicHttpBinding" bindingConfiguration="VnpProcServicePortBinding1" contract="VnpProcServiceReference.VnpProcService" name="VnpProcServicePort1" />
      <endpoint address="http://beplinktest.vba.va.gov:80/VnpPtcpntPhoneWebServiceBean/VnpPtcpntPhoneService" binding="basicHttpBinding" bindingConfiguration="VnpPtcpntPhoneServicePortBinding1" contract="VnpPtcpntPhoneServiceReference.VnpPtcpntPhoneService" name="VnpPtcpntPhoneServicePort1" />
      <endpoint address="http://beplinktest.vba.va.gov:80/VnpPtcpntRlnshpWebServiceBean/VnpPtcpntRlnshpService" binding="basicHttpBinding" bindingConfiguration="VnpPtcpntRlnshpServicePortBinding1" contract="VnpPtcpntRlnshpServiceReference.VnpPtcpntRlnshpService" name="VnpPtcpntRlnshpServicePort1" />
      <endpoint address="http://beplinktest.vba.va.gov:80/VnpPtcpntWebServiceBean/VnpPtcpntService" binding="basicHttpBinding" bindingConfiguration="VnpPtcpntServicePortBinding1" contract="VnpPtcpntServiceReference.VnpPtcpntService" name="VnpPtcpntServicePort1" />
      <endpoint address="http://vac20appeis804.va.gov:81/PdfService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPdfService2" contract="PdfServiceReference.IPdfService" name="BasicHttpBinding_IPdfService2" />
      <endpoint address="http://beplinktest.vba.va.gov:80/VetRecordServiceBean/VetRecordWebService" binding="basicHttpBinding" bindingConfiguration="VetRecordWebServicePortBinding2" contract="VetRecordWebServiceReference.VetRecordService" name="VetRecordWebServicePort2" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.12.0" newVersion="2.0.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>