<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" name="UDOMVIConfiguration"/>
    <section type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" name="TrackedItemServiceRemoteConfiguration"/>
    <section type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" name="ContentionServiceRemoteConfiguration"/>
    <section type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" name="ClaimantWebServiceConfiguration"/>
    <section type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" name="BenefitClaimServiceConfiguration"/>
    <section type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" name="PaymentInformationServiceConfiguration"/>
    <section type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" name="PaymentHistoryServiceConfiguration"/>
    <section type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" name="VeteranWebServiceConfiguration"/>
    <section type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" name="AddressWebServiceConfiguration"/>
    <section type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" name="RatingWebServiceConfiguration"/>
    <section type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" name="DevelopmentNotesServiceConfiguration"/>
    <section type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" name="AppealServiceConfiguration"/>
    <section type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" name="DdeftWebServiceConfiguration"/>
    <section type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" name="VVADocOperationsServiceConfiguration"/>
    <section type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" name="PathwaysServiceConfiguration"/>
    <section type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" name="IntentToFileWebServiceConfiguration"/>
    <section type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" name="ClaimManagementServiceConfiguration"/>
    <section type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" name="RetrieveAccountActivityServiceConfiguration"/>
    <section type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" name="EBenefitsBnftClaimStatusWebServiceConfiguration"/>
    <section type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" name="MviCustomSettingsConfiguration"/>
    <section type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" name="MviSecurityConfiguration"/>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="assembly"/>
    </assemblyBinding>
  </runtime>
  <RetrieveAccountActivityServiceConfiguration type="VIMT.IMS.Configuration.RetrieveAccountActivityServiceConfiguration, VIMT.RetrieveAccountActivityService">
    <IMS>false</IMS>
  </RetrieveAccountActivityServiceConfiguration>
  <AppealServiceConfiguration type="VIMT.IMS.Configuration.AppealServiceConfiguration, VIMT.AppealService">
    <IMS>false</IMS>
  </AppealServiceConfiguration>
  <DdeftWebServiceConfiguration type="VIMT.IMS.Configuration.DdeftWebServiceConfiguration, VIMT.DdeftWebService">
    <IMS>false</IMS>
  </DdeftWebServiceConfiguration>
  <VVADocOperationsServiceConfiguration type="VIMT.IMS.Configuration.VVADocOperationsServiceConfiguration, VIMT.VVADocOperations">
    <IMS>false</IMS>
  </VVADocOperationsServiceConfiguration>
  <BenefitClaimServiceConfiguration type="VIMT.IMS.Configuration.BenefitClaimServiceConfiguration, VIMT.BenefitClaimService">
    <IMS>false</IMS>
  </BenefitClaimServiceConfiguration>
  <ClaimantWebServiceConfiguration type="VIMT.IMS.Configuration.ClaimantWebServiceConfiguration, VIMT.ClaimantWebService">
    <IMS>false</IMS>
  </ClaimantWebServiceConfiguration>
  <ClaimManagementServiceConfiguration type="VIMT.IMS.Configuration.ClaimManagementServiceConfiguration, VIMT.ClaimManagementService">
    <IMS>false</IMS>
  </ClaimManagementServiceConfiguration>
  <EBenefitsBnftClaimStatusWebServiceConfiguration type="VIMT.IMS.Configuration.EBenefitsBnftClaimStatusWebServiceConfiguration, VIMT.EBenefitsBnftClaimStatusWebService">
    <IMS>false</IMS>
  </EBenefitsBnftClaimStatusWebServiceConfiguration>
  <PaymentInformationServiceConfiguration type="VIMT.IMS.Configuration.PaymentInformationServiceConfiguration, VIMT.PaymentInformationService">
    <IMS>false</IMS>
  </PaymentInformationServiceConfiguration>
  <PaymentHistoryServiceConfiguration type="VIMT.IMS.Configuration.PaymentHistoryServiceConfiguration, VIMT.PaymentHistoryService">
    <IMS>false</IMS>
  </PaymentHistoryServiceConfiguration>
  <PathwaysServiceConfiguration type="VIMT.IMS.Configuration.PathwaysServiceConfiguration, VIMT.PathwaysService">
    <IMS>false</IMS>
  </PathwaysServiceConfiguration>
  <ContentionServiceRemoteConfiguration type="VIMT.IMS.Configuration.ContentionServiceRemoteConfiguration, VIMT.ContentionServiceRemote">
    <IMS>false</IMS>
  </ContentionServiceRemoteConfiguration>
  <IntentToFileWebServiceConfiguration type="VIMT.IMS.Configuration.IntentToFileWebServiceConfiguration, VIMT.IntentToFileWebService">
    <IMS>false</IMS>
  </IntentToFileWebServiceConfiguration>
  <TrackedItemServiceRemoteConfiguration type="VIMT.IMS.Configuration.TrackedItemServiceRemoteConfiguration, VIMT.TrackedItemServiceRemote">
    <IMS>false</IMS>
  </TrackedItemServiceRemoteConfiguration>
  <VeteranWebServiceConfiguration type="VIMT.IMS.Configuration.VeteranWebServiceConfiguration, VIMT.VeteranWebService">
    <IMS>false</IMS>
  </VeteranWebServiceConfiguration>
  <AddressWebServiceConfiguration type="VIMT.IMS.Configuration.AddressWebServiceConfiguration, VIMT.AddressWebService">
    <IMS>false</IMS>
  </AddressWebServiceConfiguration>
  <RatingWebServiceConfiguration type="VIMT.IMS.Configuration.RatingWebServiceConfiguration, VIMT.RatingWebService">
    <IMS>false</IMS>
  </RatingWebServiceConfiguration>
  <DevelopmentNotesServiceConfiguration type="VIMT.IMS.Configuration.DevelopmentNotesServiceConfiguration, VIMT.DevelopmentNotesService">
    <IMS>false</IMS>
  </DevelopmentNotesServiceConfiguration>
  <UDOMVIConfiguration type="VRM.Integration.UDO.MVI.UDOMVIConfiguration, VRM.Integration.UDO.MVI">
    <PSSC>false</PSSC>
  </UDOMVIConfiguration>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <bindings>
      <basicHttpBinding>
        <binding name="UserInformationServicePortBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="VnpChildSchoolServicePortBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="VnpBnftClaimServicePortBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="VnpChildSchoolServicePortBinding1">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="VnpPersonServicePortBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="VnpProcFormServicePortBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="VnpProcServicePortBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="VnpPtcpntAddrsServicePortBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="VnpPtcpntPhoneServicePortBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="VnpPtcpntRlnshpServicePortBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="VnpPtcpntServicePortBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="VetRecordWebServicePortBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="PersonWebServicePortBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="BenefitClaimWebServicePortBinding" maxReceivedMessageSize="214783647">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="StandardDataWebServicePortBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="AwardWebServicePortBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="ClaimantWebServicePortBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="AddressWebServicePortBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="PhoneWebServicePortBinding">
          <security mode ="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="VAIDMPortBinding" sendTimeout="00:01:00" receiveTimeout="00:01:00" closeTimeout="00:01:00">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IPdfService" maxReceivedMessageSize="2147483647" sendTimeout="00:05:00"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="DocOperationsSoapBinding" sendTimeout="00:05:00">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport/>
        </binding>
        <binding name="BgsProductionBinding" sendTimeout="00:05:00">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpsTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint name="BenefitClaimWebServicePort" contract="BenefitClaimService" bindingConfiguration="BenefitClaimWebServicePortBinding" binding="basicHttpBinding" behaviorConfiguration="" address="https://crmprod.vba.va.gov/BenefitClaimServiceBean/BenefitClaimWebService"/>
      <endpoint name="UserInformationServicePort" contract="UserInformationServiceReference.UserInformationService" bindingConfiguration="UserInformationServicePortBinding" binding="basicHttpBinding" behaviorConfiguration="" address="https://crmprod.vba.va.gov/UserInformationServiceBean/UserInformationService"/>
      <endpoint name="VnpChildSchoolServicePort" contract="VnpChildStudentService.VnpChildStudentService" bindingConfiguration="VnpChildSchoolServicePortBinding" binding="basicHttpBinding" behaviorConfiguration="" address="https://crmprod.vba.va.gov/VnpChildStudentWebServiceBean/VnpChildStudentService"/>
      <endpoint name="VnpBnftClaimServicePort" contract="VnpBnftClaimServiceReference.VnpBnftClaimService" bindingConfiguration="VnpBnftClaimServicePortBinding" binding="basicHttpBinding" behaviorConfiguration="" address="https://crmprod.vba.va.gov/VnpBnftClaimWebServiceBean/VnpBnftClaimService"/>
      <endpoint name="VnpChildSchoolServicePort1" contract="VnpChildSchoolServiceReference.VnpChildSchoolService" bindingConfiguration="VnpChildSchoolServicePortBinding1" binding="basicHttpBinding" behaviorConfiguration="" address="https://crmprod.vba.va.gov/VnpChildSchoolWebServiceBean/VnpChildSchoolService"/>
      <endpoint name="VnpPersonServicePort" contract="VnpPersonServiceReference.VnpPersonService" bindingConfiguration="VnpPersonServicePortBinding" binding="basicHttpBinding" behaviorConfiguration="" address="https://crmprod.vba.va.gov/VnpPersonWebServiceBean/VnpPersonService"/>
      <endpoint name="VnpProcFormServicePort" contract="VnpProcFormServiceReference.VnpProcFormService" bindingConfiguration="VnpProcFormServicePortBinding" binding="basicHttpBinding" behaviorConfiguration="" address="https://crmprod.vba.va.gov/VnpProcFormWebServiceBean/VnpProcFormService"/>
      <endpoint name="VnpProcServicePort" contract="VnpProcServiceReference.VnpProcService" bindingConfiguration="VnpProcServicePortBinding" binding="basicHttpBinding" behaviorConfiguration="" address="https://crmprod.vba.va.gov/VnpProcWebServiceBean/VnpProcService"/>
      <endpoint name="VnpPtcpntAddrsServicePort" contract="VnpPtcpntAddrsServiceReference.VnpPtcpntAddrsService" bindingConfiguration="VnpPtcpntAddrsServicePortBinding" binding="basicHttpBinding" behaviorConfiguration="" address="https://crmprod.vba.va.gov/VnpPtcpntAddrsWebServiceBean/VnpPtcpntAddrsService"/>
      <endpoint name="VnpPtcpntPhoneServicePort" contract="VnpPtcpntPhoneServiceReference.VnpPtcpntPhoneService" bindingConfiguration="VnpPtcpntPhoneServicePortBinding" binding="basicHttpBinding" behaviorConfiguration="" address="https://crmprod.vba.va.gov/VnpPtcpntPhoneWebServiceBean/VnpPtcpntPhoneService"/>
      <endpoint name="VnpPtcpntRlnshpServicePort" contract="VnpPtcpntRlnshpServiceReference.VnpPtcpntRlnshpService" bindingConfiguration="VnpPtcpntRlnshpServicePortBinding" binding="basicHttpBinding" behaviorConfiguration="" address="https://crmprod.vba.va.gov/VnpPtcpntRlnshpWebServiceBean/VnpPtcpntRlnshpService"/>
      <endpoint name="VnpPtcpntServicePort" contract="VnpPtcpntServiceReference.VnpPtcpntService" bindingConfiguration="VnpPtcpntServicePortBinding" binding="basicHttpBinding" behaviorConfiguration="" address="https://crmprod.vba.va.gov/VnpPtcpntWebServiceBean/VnpPtcpntService"/>
      <endpoint name="VetRecordWebServicePort" contract="VetRecordWebServiceReference.VetRecordService" bindingConfiguration="VetRecordWebServicePortBinding" binding="basicHttpBinding" behaviorConfiguration="" address="https://crmprod.vba.va.gov/VetRecordServiceBean/VetRecordWebService"/>
      <endpoint name="PersonWebServicePort" contract="PersonWebServiceReference.PersonWebService" bindingConfiguration="PersonWebServicePortBinding" binding="basicHttpBinding" behaviorConfiguration="XSDValidatorServiceEndpointBehavior" address="https://crmprod.vba.va.gov/PersonWebServiceBean/PersonWebService"/>
      <endpoint name="StandardDataWebServicePort" contract="StandardDataWebServiceReference.StandardDataWebService" bindingConfiguration="StandardDataWebServicePortBinding" binding="basicHttpBinding" behaviorConfiguration="" address="https://crmprod.vba.va.gov/StandardDataWebServiceBean/StandardDataWebService"/>
      <endpoint name="DocOperationsImplPort" contract="DocOperationsReference.DocOperations" bindingConfiguration="DocOperationsSoapBinding" binding="customBinding" address="https://vbaphi8popp.vba.va.gov:7002/VABFI/services/vva"/>
      <endpoint name="BasicHttpBinding_IPdfService" contract="PdfServiceReference.IPdfService" bindingConfiguration="BasicHttpBinding_IPdfService" binding="basicHttpBinding" address="http://vac20webeis230.va.gov/PdfService.svc"/>
      <endpoint name="AwardWebServicePort" contract="AwardWebServiceReference.AwardWebService" bindingConfiguration="AwardWebServicePortBinding" binding="basicHttpBinding" behaviorConfiguration="" address="https://crmprod.vba.va.gov/AwardWebServiceBean/AwardWebService"/>
      <endpoint name="ClaimantWebServicePort" contract="ClaimantWebServiceReference.ClaimantService" bindingConfiguration="ClaimantWebServicePortBinding" binding="basicHttpBinding" behaviorConfiguration="" address="https://crmprod.vba.va.gov/ClaimantServiceBean/ClaimantWebService"/>
      <endpoint name="AddressWebServicePort" contract="AddressWebServiceReference.AddressWebService" bindingConfiguration="AddressWebServicePortBinding" binding="basicHttpBinding" behaviorConfiguration="" address="https://crmprod.vba.va.gov/AddressWebServiceBean/AddressWebService"/>
      <endpoint name="PhoneWebServicePort" contract="PhoneWebServiceReference.PhoneWebService" bindingConfiguration="PhoneWebServicePortBinding" binding="basicHttpBinding" behaviorConfiguration="" address="https://crmprod.vba.va.gov/PhoneWebServiceBean/PhoneWebService"/>
      <endpoint name="VAIdMPort" contract="VAIdMPort" bindingConfiguration="VAIDMPortBinding" binding="basicHttpBinding" address="https://int.services.eauth.va.gov:9193/psim_webservice/dev/IdMWebService"/>
    </client>
    <extensions>
      <behaviorExtensions>
        <add type="VRM.Integration.Servicebus.Core.SchemaValidationBehaviorExtensionElement, VRM.Integration.Servicebus.Core, Culture=neutral" name="schemaValidator"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="XSDValidatorServiceEndpointBehavior">
          <!--<schemaValidator validateRequest="false" validateReply="true">
            <schemas>
              <add location="XSD\PersonWebService.xsd" />
              <add location="XSD\StandardDataWebService.xsd" />
              <add location="XSD\UserInformationService.xsd" />
              <add location="XSD\VetRecordWebService.xsd" />
              <add location="XSD\VnpBnftClaimService.xsd" />
              <add location="XSD\VnpChildSchoolService.xsd" />
              <add location="XSD\VnpChildStudentService.xsd" />
              <add location="XSD\VnpPersonService.xsd" />
              <add location="XSD\VnpProcFormService.xsd" />
              <add location="XSD\VnpProcService.xsd" />
              <add location="XSD\VnpPtcpntAddrsService.xsd" />
              <add location="XSD\VnpPtcpntPhoneService.xsd" />
              <add location="XSD\VnpPtcpntRlnshpService.xsd" />
              <add location="XSD\VnpPtcpntService.xsd" />
            </schemas>
          </schemaValidator>-->
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <!-- Mvi Setting Comments-->
  <!-- Setting: acceptAckCode: AL= Always, ER=On Error/reject only, NE=Never Send, Default is "AL" for request, Default is "NE" for response-->
  <!-- Setting: processingCode: D ? Debugging, T ? Training, P ? Production-->
  <MviCustomSettingsConfiguration type="VRM.Integration.Mvi.PersonSearch.MviCustomSettingsConfiguration, VRM.Integration.Mvi.PersonSearch">
    <ClientName>200CRME</ClientName>
    <RepresentedOrganization>200CRME</RepresentedOrganization>
    <ClientOid>1.2.6.4.1.26580</ClientOid>
    <AcceptAckCode>AL</AcceptAckCode>
    <ProcessingCode>T</ProcessingCode>
    <UsesCorpDBb>true</UsesCorpDBb>
  </MviCustomSettingsConfiguration>
  <MviSecurityConfiguration type="VRM.Integration.Servicebus.MVI.Services.MviSecurityConfiguration, VRM.Integration.Servicebus.MVI.Services">
    <UserName>VHAISDFOLEYD</UserName>
    <Password></Password>
    <ClientMachine>10.224.104.174</ClientMachine>
    <StnId>317</StnId>
    <ApplicationId>CRMUD</ApplicationId>
    <RequiresClientCertificate>true</RequiresClientCertificate>
    <ClientCertificateName>adfs.crme.dev.crm.vrm.vba.va.gov</ClientCertificateName>
    <EnableLogging>true</EnableLogging>
  </MviSecurityConfiguration>
</configuration>