<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="UDOMVIConfiguration" type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" />
    <section name="TrackedItemServiceRemoteConfiguration" type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" />
    <section name="ContentionServiceRemoteConfiguration" type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" />
    <section name="ClaimantWebServiceConfiguration" type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" />
    <section name="BenefitClaimServiceConfiguration" type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" />
    <section name="PaymentInformationServiceConfiguration" type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" />
    <section name="PaymentHistoryServiceConfiguration" type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" />
    <section name="VeteranWebServiceConfiguration" type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" />
    <section name="AddressWebServiceConfiguration" type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core"/>
    <section name="RatingWebServiceConfiguration" type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core"/>
    <section name="DevelopmentNotesServiceConfiguration" type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core"/>
    <section name="AppealServiceConfiguration" type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core"/>
    <section name="DdeftWebServiceConfiguration" type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core"/>
    <section name="VVADocOperationsServiceConfiguration" type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core"/>
    <section name="PathwaysServiceConfiguration" type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core"/>
    <section name="IntentToFileWebServiceConfiguration" type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core"/>
    <section name="ClaimManagementServiceConfiguration" type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" />
    <section name="RetrieveAccountActivityServiceConfiguration" type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" />
    <section name="EBenefitsBnftClaimStatusWebServiceConfiguration" type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core"/>
    <section name="MviCustomSettingsConfiguration" type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" />
    <section name="MviSecurityConfiguration" type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" />

  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="assembly"/>
    </assemblyBinding>
  </runtime>
  <RetrieveAccountActivityServiceConfiguration type="VIMT.IMS.Configuration.RetrieveAccountActivityServiceConfiguration, VIMT.RetrieveAccountActivityService">
    <IMS>false</IMS>
  </RetrieveAccountActivityServiceConfiguration>
  <AppealServiceConfiguration type="VIMT.IMS.Configuration.AppealServiceConfiguration, VIMT.AppealService">
    <IMS>false</IMS>
  </AppealServiceConfiguration>
  <DdeftWebServiceConfiguration type="VIMT.IMS.Configuration.DdeftWebServiceConfiguration, VIMT.DdeftWebService">
    <IMS>false</IMS>
  </DdeftWebServiceConfiguration>
  <VVADocOperationsServiceConfiguration type="VIMT.IMS.Configuration.VVADocOperationsServiceConfiguration, VIMT.VVADocOperations">
    <IMS>false</IMS>
  </VVADocOperationsServiceConfiguration>
  <BenefitClaimServiceConfiguration type="VIMT.IMS.Configuration.BenefitClaimServiceConfiguration, VIMT.BenefitClaimService">
    <IMS>false</IMS>
  </BenefitClaimServiceConfiguration>
  <ClaimantWebServiceConfiguration type="VIMT.IMS.Configuration.ClaimantWebServiceConfiguration, VIMT.ClaimantWebService">
    <IMS>false</IMS>
  </ClaimantWebServiceConfiguration>
  <ClaimManagementServiceConfiguration type="VIMT.IMS.Configuration.ClaimManagementServiceConfiguration, VIMT.ClaimManagementService">
    <IMS>false</IMS>
  </ClaimManagementServiceConfiguration>
  <EBenefitsBnftClaimStatusWebServiceConfiguration type="VIMT.IMS.Configuration.EBenefitsBnftClaimStatusWebServiceConfiguration, VIMT.EBenefitsBnftClaimStatusWebService">
    <IMS>false</IMS>
  </EBenefitsBnftClaimStatusWebServiceConfiguration>
  <PaymentInformationServiceConfiguration type="VIMT.IMS.Configuration.PaymentInformationServiceConfiguration, VIMT.PaymentInformationService">
    <IMS>false</IMS>
  </PaymentInformationServiceConfiguration>
  <PaymentHistoryServiceConfiguration type="VIMT.IMS.Configuration.PaymentHistoryServiceConfiguration, VIMT.PaymentHistoryService">
    <IMS>false</IMS>
  </PaymentHistoryServiceConfiguration>
  <PathwaysServiceConfiguration type="VIMT.IMS.Configuration.PathwaysServiceConfiguration, VIMT.PathwaysService">
    <IMS>false</IMS>
  </PathwaysServiceConfiguration>
  <ContentionServiceRemoteConfiguration type="VIMT.IMS.Configuration.ContentionServiceRemoteConfiguration, VIMT.ContentionServiceRemote">
    <IMS>false</IMS>
  </ContentionServiceRemoteConfiguration>
  <IntentToFileWebServiceConfiguration type="VIMT.IMS.Configuration.IntentToFileWebServiceConfiguration, VIMT.IntentToFileWebService">
    <IMS>false</IMS>
  </IntentToFileWebServiceConfiguration>
  <TrackedItemServiceRemoteConfiguration type="VIMT.IMS.Configuration.TrackedItemServiceRemoteConfiguration, VIMT.TrackedItemServiceRemote">
    <IMS>false</IMS>
  </TrackedItemServiceRemoteConfiguration>
  <VeteranWebServiceConfiguration type="VIMT.IMS.Configuration.VeteranWebServiceConfiguration, VIMT.VeteranWebService">
    <IMS>false</IMS>
  </VeteranWebServiceConfiguration>
  <AddressWebServiceConfiguration type="VIMT.IMS.Configuration.AddressWebServiceConfiguration, VIMT.AddressWebService">
    <IMS>false</IMS>
  </AddressWebServiceConfiguration>
  <RatingWebServiceConfiguration type="VIMT.IMS.Configuration.RatingWebServiceConfiguration, VIMT.RatingWebService">
    <IMS>false</IMS>
  </RatingWebServiceConfiguration>
  <DevelopmentNotesServiceConfiguration type="VIMT.IMS.Configuration.DevelopmentNotesServiceConfiguration, VIMT.DevelopmentNotesService">
    <IMS>false</IMS>
  </DevelopmentNotesServiceConfiguration>
  <UDOMVIConfiguration type="VRM.Integration.UDO.MVI.UDOMVIConfiguration, VRM.Integration.UDO.MVI">
    <PSSC>false</PSSC>
  </UDOMVIConfiguration>
<system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="UserInformationServicePortBinding" />
        <binding name="VnpChildSchoolServicePortBinding" />
        <binding name="VnpBnftClaimServicePortBinding" />
        <binding name="VnpChildSchoolServicePortBinding1" />
        <binding name="VnpPersonServicePortBinding" />
        <binding name="VnpProcFormServicePortBinding" />
        <binding name="VnpProcServicePortBinding" />
        <binding name="VnpPtcpntAddrsServicePortBinding" />
        <binding name="VnpPtcpntPhoneServicePortBinding" />
        <binding name="VnpPtcpntRlnshpServicePortBinding" />
        <binding name="VnpPtcpntServicePortBinding" />
        <binding name="VetRecordWebServicePortBinding" />
        <binding name="PersonWebServicePortBinding" />
        <binding name="BenefitClaimWebServicePortBinding" maxReceivedMessageSize="214783647" />
        <binding name="StandardDataWebServicePortBinding" />
        <binding name="AwardWebServicePortBinding" />
        <binding name="ClaimantWebServicePortBinding" />
        <binding name="AddressWebServicePortBinding" />
        <binding name="PhoneWebServicePortBinding" />
        <binding name="VAIDMPortBinding" closeTimeout="00:01:00" receiveTimeout="00:01:00"
          sendTimeout="00:01:00">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IPdfService" sendTimeout="00:05:00"
          maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <customBinding>
        <binding name="DocOperationsSoapBinding" sendTimeout="00:05:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="BgsProductionBinding" sendTimeout="00:05:00">
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://beplinktest.vba.va.gov/BenefitClaimServiceBean/BenefitClaimWebService"
        behaviorConfiguration="" binding="basicHttpBinding" bindingConfiguration="BenefitClaimWebServicePortBinding"
        contract="BenefitClaimService" name="BenefitClaimWebServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov/UserInformationServiceBean/UserInformationService"
        behaviorConfiguration="" binding="basicHttpBinding" bindingConfiguration="UserInformationServicePortBinding"
        contract="UserInformationServiceReference.UserInformationService"
        name="UserInformationServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov/VnpChildStudentWebServiceBean/VnpChildStudentService"
        behaviorConfiguration="" binding="basicHttpBinding" bindingConfiguration="VnpChildSchoolServicePortBinding"
        contract="VnpChildStudentService.VnpChildStudentService"
        name="VnpChildSchoolServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov/VnpBnftClaimWebServiceBean/VnpBnftClaimService"
        behaviorConfiguration="" binding="basicHttpBinding" bindingConfiguration="VnpBnftClaimServicePortBinding"
        contract="VnpBnftClaimServiceReference.VnpBnftClaimService"
        name="VnpBnftClaimServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov/VnpChildSchoolWebServiceBean/VnpChildSchoolService"
         behaviorConfiguration="" binding="basicHttpBinding" bindingConfiguration="VnpChildSchoolServicePortBinding1"
        contract="VnpChildSchoolServiceReference.VnpChildSchoolService"
        name="VnpChildSchoolServicePort1" />
      <endpoint address="http://beplinktest.vba.va.gov/VnpPersonWebServiceBean/VnpPersonService"
        behaviorConfiguration="" binding="basicHttpBinding" bindingConfiguration="VnpPersonServicePortBinding"
        contract="VnpPersonServiceReference.VnpPersonService" name="VnpPersonServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov/VnpProcFormWebServiceBean/VnpProcFormService"
        behaviorConfiguration="" binding="basicHttpBinding" bindingConfiguration="VnpProcFormServicePortBinding"
        contract="VnpProcFormServiceReference.VnpProcFormService" name="VnpProcFormServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov/VnpProcWebServiceBean/VnpProcService"
        behaviorConfiguration="" binding="basicHttpBinding" bindingConfiguration="VnpProcServicePortBinding"
        contract="VnpProcServiceReference.VnpProcService" name="VnpProcServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov/VnpPtcpntAddrsWebServiceBean/VnpPtcpntAddrsService"
        behaviorConfiguration="" binding="basicHttpBinding" bindingConfiguration="VnpPtcpntAddrsServicePortBinding"
        contract="VnpPtcpntAddrsServiceReference.VnpPtcpntAddrsService"
        name="VnpPtcpntAddrsServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov/VnpPtcpntPhoneWebServiceBean/VnpPtcpntPhoneService"
        behaviorConfiguration="" binding="basicHttpBinding" bindingConfiguration="VnpPtcpntPhoneServicePortBinding"
        contract="VnpPtcpntPhoneServiceReference.VnpPtcpntPhoneService"
        name="VnpPtcpntPhoneServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov/VnpPtcpntRlnshpWebServiceBean/VnpPtcpntRlnshpService"
        behaviorConfiguration="" binding="basicHttpBinding" bindingConfiguration="VnpPtcpntRlnshpServicePortBinding"
        contract="VnpPtcpntRlnshpServiceReference.VnpPtcpntRlnshpService"
        name="VnpPtcpntRlnshpServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov/VnpPtcpntWebServiceBean/VnpPtcpntService"
        behaviorConfiguration="" binding="basicHttpBinding" bindingConfiguration="VnpPtcpntServicePortBinding"
        contract="VnpPtcpntServiceReference.VnpPtcpntService" name="VnpPtcpntServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov:80/VetRecordServiceBean/VetRecordWebService"
        behaviorConfiguration=""
        binding="basicHttpBinding" bindingConfiguration="VetRecordWebServicePortBinding"
        contract="VetRecordWebServiceReference.VetRecordService" name="VetRecordWebServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov:80/PersonWebServiceBean/PersonWebService"
        behaviorConfiguration="XSDValidatorServiceEndpointBehavior"
        binding="basicHttpBinding" bindingConfiguration="PersonWebServicePortBinding"
        contract="PersonWebServiceReference.PersonWebService" name="PersonWebServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov:80/StandardDataWebServiceBean/StandardDataWebService"
        behaviorConfiguration=""
        binding="basicHttpBinding" bindingConfiguration="StandardDataWebServicePortBinding"
        contract="StandardDataWebServiceReference.StandardDataWebService"
        name="StandardDataWebServicePort" />
      <endpoint address="https://vbaphi5topp.vba.va.gov:7002/VABFI/services/vva"
        binding="customBinding" bindingConfiguration="DocOperationsSoapBinding"
        contract="DocOperationsReference.DocOperations" name="DocOperationsImplPort" />
      <endpoint address="http://vac20webeis230.va.gov/PdfService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IPdfService" contract="PdfServiceReference.IPdfService"
        name="BasicHttpBinding_IPdfService" />
      <endpoint address="http://beplinktest.vba.va.gov:80/AwardWebServiceBean/AwardWebService"
        behaviorConfiguration=""
        binding="basicHttpBinding" bindingConfiguration="AwardWebServicePortBinding"
        contract="AwardWebServiceReference.AwardWebService" name="AwardWebServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov:80/ClaimantServiceBean/ClaimantWebService"
        behaviorConfiguration="" binding="basicHttpBinding" bindingConfiguration="ClaimantWebServicePortBinding"
        contract="ClaimantWebServiceReference.ClaimantService" name="ClaimantWebServicePort" />
      <endpoint address="http://beplinktest.vba.va.gov:80/AddressWebServiceBean/AddressWebService"
        behaviorConfiguration=""
        binding="basicHttpBinding" bindingConfiguration="AddressWebServicePortBinding"
        contract="AddressWebServiceReference.AddressWebService" name="AddressWebServicePort" />
      <endpoint address="http://bepdev.vba.va.gov/PhoneWebServiceBean/PhoneWebService"
        behaviorConfiguration=""
        binding="basicHttpBinding" bindingConfiguration="PhoneWebServicePortBinding"
        contract="PhoneWebServiceReference.PhoneWebService" name="PhoneWebServicePort" />
      <endpoint address="https://int.services.eauth.va.gov:9193/psim_webservice/dev/IdMWebService"
        binding="basicHttpBinding" bindingConfiguration="VAIDMPortBinding"
        contract="VAIdMPort" name="VAIdMPort" />
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="schemaValidator" type="VRM.Integration.Servicebus.Core.SchemaValidationBehaviorExtensionElement, VRM.Integration.Servicebus.Core, Culture=neutral"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="XSDValidatorServiceEndpointBehavior">
          <!--<schemaValidator validateRequest="false" validateReply="true">
            <schemas>
              <add location="XSD\PersonWebService.xsd" />
              <add location="XSD\StandardDataWebService.xsd" />
              <add location="XSD\UserInformationService.xsd" />
              <add location="XSD\VetRecordWebService.xsd" />
              <add location="XSD\VnpBnftClaimService.xsd" />
              <add location="XSD\VnpChildSchoolService.xsd" />
              <add location="XSD\VnpChildStudentService.xsd" />
              <add location="XSD\VnpPersonService.xsd" />
              <add location="XSD\VnpProcFormService.xsd" />
              <add location="XSD\VnpProcService.xsd" />
              <add location="XSD\VnpPtcpntAddrsService.xsd" />
              <add location="XSD\VnpPtcpntPhoneService.xsd" />
              <add location="XSD\VnpPtcpntRlnshpService.xsd" />
              <add location="XSD\VnpPtcpntService.xsd" />
            </schemas>
          </schemaValidator>-->
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>
  <!-- Mvi Setting Comments-->
  <!-- Setting: acceptAckCode: AL= Always, ER=On Error/reject only, NE=Never Send, Default is "AL" for request, Default is "NE" for response-->
  <!-- Setting: processingCode: D – Debugging, T – Training, P – Production-->
  <MviCustomSettingsConfiguration type="VRM.Integration.Mvi.PersonSearch.MviCustomSettingsConfiguration, VRM.Integration.Mvi.PersonSearch">
    <ClientName>200CRME</ClientName>
    <RepresentedOrganization>200CRME</RepresentedOrganization>
    <ClientOid>1.2.6.4.1.26580</ClientOid>
    <AcceptAckCode>AL</AcceptAckCode>
    <ProcessingCode>T</ProcessingCode>
    <UsesCorpDBb>true</UsesCorpDBb>
  </MviCustomSettingsConfiguration>
  <MviSecurityConfiguration type="VRM.Integration.Servicebus.MVI.Services.MviSecurityConfiguration, VRM.Integration.Servicebus.MVI.Services">
    <UserName>VHAISDFOLEYD</UserName>
    <Password></Password>
    <ClientMachine>10.224.104.174</ClientMachine>
    <StnId>317</StnId>
    <ApplicationId>CRMUD</ApplicationId>
    <RequiresClientCertificate>true</RequiresClientCertificate>
    <ClientCertificateName>adfs.crme.dev.crm.vrm.vba.va.gov</ClientCertificateName>
    <EnableLogging>true</EnableLogging>
  </MviSecurityConfiguration>
</configuration>