<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="CoreConfiguration" type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core"/>
    <section name="BgsSecurityConfiguration" type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core"/>
    <section name="VvaSecurityConfiguration" type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core"/>
    <section name="CrmConnectionParmsConfiguration" type="VRM.Integration.Servicebus.Core.ObjectConfigHandler, VRM.Integration.Servicebus.Core" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
    <section name="ThreadSleepConfiguration" type="VRM.Integration.Servicebus.Core.ThreadSleepConfiguration, VRM.Integration.Servicebus.Core"/>
  </configSections>
  <system.diagnostics>
    <trace autoflush="false" />
  </system.diagnostics>
  <CoreConfiguration type="VRM.Integration.Servicebus.Core.CoreConfiguration, VRM.Integration.Servicebus.Core">
    <ServicebusUrl>https://CRMDAC.CRMUD.dev.CRM.VRM.vba.VA.GOV:8085/Servicebus</ServicebusUrl>
  </CoreConfiguration>
  <configProtectedData>
    <providers>
      <add name="VRMRSAProvider"
           type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a,&#xD;&#xA;              processorArchitecture=MSIL"

           keyContainerName="VRMRSA"
           useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <ThreadSleepConfiguration type="VRM.Integration.Servicebus.Core.ThreadSleepConfiguration, VRM.Integration.Servicebus.Core">
    <ThreadSleepItems>
      <ThreadSleepItem>
        <Id>AddDependentOrchestration</Id>
        <SleepSeconds>0</SleepSeconds>
      </ThreadSleepItem>
      <ThreadSleepItem>
        <Id>AddDependentFetch</Id>
        <SleepSeconds>0</SleepSeconds>
      </ThreadSleepItem>
      <ThreadSleepItem>
        <Id>AddDependentCancel</Id>
        <SleepSeconds>0</SleepSeconds>
      </ThreadSleepItem>
    </ThreadSleepItems>
  </ThreadSleepConfiguration>
  <BgsSecurityConfiguration type="VRM.Integration.Servicebus.Bgs.Services.BgsSecurityConfiguration, VRM.Integration.Servicebus.Bgs.Services">
    <UserName>YADA</UserName>
    <Password></Password>
    <ClientMachine>10.224.104.174</ClientMachine>
    <StnId>317</StnId>
    <ApplicationId>CRMUD</ApplicationId>
    <RequiresClientCertificate>false</RequiresClientCertificate>
    <ClientCertificateName>AE5E115D02755782C7CCB1E69139CCA73544690F</ClientCertificateName>
  </BgsSecurityConfiguration>
  <VvaSecurityConfiguration type="VRM.Integration.Servicebus.Bgs.Services.VvaSecurityConfiguration, VRM.Integration.Servicebus.Bgs.Services">
    <UserName>CRMEUAT</UserName>
    <Password>XXXXX</Password>
  </VvaSecurityConfiguration>
  <CrmConnectionParmsConfiguration type="CRM007.CRM.SDK.Core.CrmConnectionParmsConfiguration, CRM007.CRM.SDK.Core">
    <DefaultCrmConnectionParmsName>CRMEConnection</DefaultCrmConnectionParmsName>
    <ConnectionParms>
      <CrmConnectionParms>
        <Name>CRMEDEV</Name>
        <DiscoveryServiceUrl>https://internalcrm.crme.dev.crm.vrm.vba.va.gov/CRMEDEV/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.crme.dev.crm.vrm.vba.va.gov/CRMEDEV/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>CRMEDEV</Organization>
        <ServerName>internalcrm.crme.dev.crm.vrm.vba.va.gov/CRMEDEV</ServerName>
      </CrmConnectionParms>
	  <CrmConnectionParms>
                <Name>INTTMP</Name>
<DiscoveryServiceUrl>https://internalcrm.np15.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
<OrganizationServiceUrl>https://internalcrm.np15.crm.vrm.vba.va.gov/INTTMP/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
                <Organization>INTTMP</Organization>
                <ServerName>internalcrm.np15.crm.vrm.vba.va.gov/INTTMP</ServerName>
</CrmConnectionParms>
<CrmConnectionParms>
        <Name>QATMP</Name>
        <DiscoveryServiceUrl>https://internalcrm.np15.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.np15.crm.vrm.vba.va.gov/QATMP/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>QATMP</Organization>
        <ServerName>internalcrm.np15.crm.vrm.vba.va.gov/QATMP</ServerName>
      </CrmConnectionParms>

      <CrmConnectionParms>
        <Name>CRMEDEV2j013</Name>
        <DiscoveryServiceUrl>https://internalcrm.crmo.dev.crm.vrm.vba.va.gov/CRMEDEV2j013/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.crmo.dev.crm.vrm.vba.va.gov/CRMEDEV2j013/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>CRMEDEV2j013</Organization>
        <ServerName>internalcrm.crmO.dev.crm.vrm.vba.va.gov/CRMEDEV2j013</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>FTP</Name>
        <DiscoveryServiceUrl>https://internalcrm.ftp.dev.crm.vrm.vba.va.gov/FTP/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.ftp.dev.crm.vrm.vba.va.gov/FTP/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>FTP</Organization>
        <ServerName>internalcrm.ftp.dev.crm.vrm.vba.va.gov/FTP</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>FTPDEV</Name>
        <DiscoveryServiceUrl>https://internalcrm.ftp.dev.crm.vrm.vba.va.gov/FTPDEV/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.ftp.dev.crm.vrm.vba.va.gov/FTPDEV/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>FTPDEV</Organization>
        <ServerName>internalcrm.ftp.dev.crm.vrm.vba.va.gov/FTPDEV</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>FTPGOLD</Name>
        <DiscoveryServiceUrl>https://internalcrm.ftp.dev.crm.vrm.vba.va.gov/FTPGOLD/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.ftp.dev.crm.vrm.vba.va.gov/FTPGOLD/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>FTPGOLD</Organization>
        <ServerName>internalcrm.ftp.dev.crm.vrm.vba.va.gov/FTPGOLD</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>CVT</Name>
        <DiscoveryServiceUrl>https://discoverycrmsvc.cvt.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.cvt.dev.crm.vrm.vba.va.gov/CVT/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>CVT</Organization>
        <ServerName>internalcrm.cvt.dev.crm.vrm.vba.va.gov/CVT</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
	      <Name>CVT15</Name>
        <DiscoveryServiceUrl>https://internalcrm.cvt15.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc </DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.cvt15.dev.crm.vrm.vba.va.gov/CVT15/XRMServices/2011/Organization.svc </OrganizationServiceUrl>
        <Organization>CVT15</Organization>
        <ServerName>internalcrm.cvt15.dev.crm.vrm.vba.va.gov/CVT15</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>HAC</Name>
        <DiscoveryServiceUrl>https://internalcrm.hac.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.hac.dev.crm.vrm.vba.va.gov/HAC/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>HAC</Organization>
        <ServerName>internalcrm.hac.dev.crm.vrm.vba.va.gov/HAC</ServerName>
      </CrmConnectionParms>
	  <CrmConnectionParms>
        <Name>DEHAC15</Name>
        <DiscoveryServiceUrl>https://internalcrm.hac15.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.hac15.dev.crm.vrm.vba.va.gov/DEHAC15/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>DEHAC15</Organization>
        <ServerName>internalcrm.hac15.dev.crm.vrm.vba.va.gov/DEHAC15</ServerName>
      </CrmConnectionParms>
	  <CrmConnectionParms>
        <Name>DevHAC2</Name>
        <DiscoveryServiceUrl>https://internalcrm.hac15.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.hac15.dev.crm.vrm.vba.va.gov/DevHAC2/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>DevHAC2</Organization>
        <ServerName>internalcrm.hac15.dev.crm.vrm.vba.va.gov/DevHAC2</ServerName>
      </CrmConnectionParms>
	  <CrmConnectionParms>
        <Name>CBOPC2MSFT</Name>
        <DiscoveryServiceUrl>https://internalcrm.hac15.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.hac15.dev.crm.vrm.vba.va.gov/CBOPC2MSFT/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>CBOPC2MSFT</Organization>
        <ServerName>internalcrm.hac15.dev.crm.vrm.vba.va.gov/CBOPC2MSFT</ServerName>
      </CrmConnectionParms>
	  <CrmConnectionParms>
        <Name>DevHAC</Name>
        <DiscoveryServiceUrl>https://internalcrm.hac15.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.hac15.dev.crm.vrm.vba.va.gov/DevHAC/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>DevHAC</Organization>
        <ServerName>internalcrm.hac15.dev.crm.vrm.vba.va.gov/DevHAC</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>   
        <Name>ECC</Name>
        <DiscoveryServiceUrl>https://internalcrm.ecc15.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.ecc15.dev.crm.vrm.vba.va.gov/ECC/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>ECC</Organization>
        <ServerName>internalcrm.ecc15.dev.crm.vrm.vba.va.gov/ECC</ServerName>
      </CrmConnectionParms>
	   <CrmConnectionParms>   
        <Name>VEMS</Name>
        <DiscoveryServiceUrl>https://internalcrm.vems.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.vems.dev.crm.vrm.vba.va.gov/VEMS/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>VEMS</Organization>
        <ServerName>internalcrm.vems.dev.crm.vrm.vba.va.gov/VEMS</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>CRMEDEVPLUGINREMOVAL</Name>
        <DiscoveryServiceUrl>https://internalcrm.crme.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.crme.dev.crm.vrm.vba.va.gov/CRMEDEVPLUGINREMOVAL/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>CRMEDEVPLUGINREMOVAL</Organization>
        <ServerName>internalcrm.crme.dev.crm.vrm.vba.va.gov/CRMEDEVPLUGINREMOVAL</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>UDOCONFIG2015</Name>
        <DiscoveryServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/UDOCONFIG2015/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>UDOCONFIG2015</Organization>
        <ServerName>internalcrm.crmo15.dev.crm.vrm.vba.va.gov/UDOCONFIG2015</ServerName>
      </CrmConnectionParms>
	  <CrmConnectionParms>
        <Name>UDOCONFIGMAIN</Name>
        <DiscoveryServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/UDOCONFIGMAIN/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>UDOCONFIGMAIN</Organization>
        <ServerName>internalcrm.crmo15.dev.crm.vrm.vba.va.gov/UDOCONFIGMAIN</ServerName>
      </CrmConnectionParms>
	   <CrmConnectionParms>
        <Name>UDOINIE</Name>
        <DiscoveryServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/UDOINIE/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>UDOINIE</Organization>
        <ServerName>internalcrm.crmo15.dev.crm.vrm.vba.va.gov/UDOINIE</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>CRMEDEV2015</Name>
        <DiscoveryServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/CRMEDEV2015/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>CRMEDEV2015</Organization>
        <ServerName>internalcrm.crmo15.dev.crm.vrm.vba.va.gov/CRMEDEV2015</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>VRE</Name>
        <DiscoveryServiceUrl>https://internalcrm.vre.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.vre.dev.crm.vrm.vba.va.gov/vre/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>VRE</Organization>
        <ServerName>internalcrm.vre.dev.crm.vrm.vba.va.gov/vre</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>CCWF</Name>
        <DiscoveryServiceUrl>https://internalcrm.ccwf.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.ccwf.dev.crm.vrm.vba.va.gov/CCWF/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>CCWF</Organization>
        <ServerName>internalcrm.ccwf.dev.crm.vrm.vba.va.gov/CCWF</ServerName>
      </CrmConnectionParms>
	  <CrmConnectionParms>
        <Name>CCWFMSFT</Name>
        <DiscoveryServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/CCWFMSFT/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>CCWFMSFT</Organization>
        <ServerName>internalcrm.crmo15.dev.crm.vrm.vba.va.gov/CCWFMSFT</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>HRC</Name>
        <DiscoveryServiceUrl>https://internalcrm.hrc.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.hrc.dev.crm.vrm.vba.va.gov/hrc/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>HRC</Organization>
        <ServerName>internalcrm.hrc.dev.crm.vrm.vba.va.gov/hrc</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>VCL</Name>
        <DiscoveryServiceUrl>https://internalcrm.vcl.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.vcl.dev.crm.vrm.vba.va.gov/vcl/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>VCL</Organization>
        <ServerName>internalcrm.vcl.dev.crm.vrm.vba.va.gov/vcl</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>ICP</Name>
        <DiscoveryServiceUrl>https://internalcrm.icp.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.icp.dev.crm.vrm.vba.va.gov/icp/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>ICP</Organization>
        <ServerName>internalcrm.icp.dev.crm.vrm.vba.va.gov/icp</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>UDOQANOVBASELINE</Name>
        <DiscoveryServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/UDOQANOVBASELINE/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>UDOQANOVBASELINE</Organization>
        <ServerName>internalcrm.crmo15.dev.crm.vrm.vba.va.gov/UDOQANOVBASELINE</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>ARA</Name>
        <DiscoveryServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/ARA/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>ARA</Organization>
        <ServerName>internalcrm.crmo15.dev.crm.vrm.vba.va.gov/ARA</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>INTFTP</Name>
        <DiscoveryServiceUrl>https://internalcrm.np15.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.np15.crm.vrm.vba.va.gov/INTFtP/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>INTFTP</Organization>
        <ServerName>internalcrm.np15.crm.vrm.vba.va.gov/INTFtP</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>UDOFEB20</Name>
        <DiscoveryServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/UDOFEB20/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>UDOFEB20</Organization>
        <ServerName>internalcrm.crmo15.dev.crm.vrm.vba.va.gov/UDOFEB20</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>UDODEV</Name>
        <DiscoveryServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/UDODEV/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>UDODEV</Organization>
        <ServerName>internalcrm.crmo15.dev.crm.vrm.vba.va.gov/UDODEV</ServerName>
      </CrmConnectionParms>
	  <CrmConnectionParms>
        <Name>CRMUDO</Name>
        <DiscoveryServiceUrl>https://internalcrm.ur15508.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.ur15508.crm.vrm.vba.va.gov/CRMUDO/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>CRMUDO</Organization>
        <ServerName>internalcrm.ur15508.crm.vrm.vba.va.gov/CRMUDO</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>UDODEVMOCK</Name>
        <DiscoveryServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/UDODEVMOCK/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>UDODEVMOCK</Organization>
        <ServerName>internalcrm.crmo15.dev.crm.vrm.vba.va.gov/UDODEVMOCK</ServerName>
      </CrmConnectionParms>
	  <CrmConnectionParms>
        <Name>UDODEVMOCK2</Name>
        <DiscoveryServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/UDODEVMOCK2/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>UDODEVMOCK2</Organization>
        <ServerName>internalcrm.crmo15.dev.crm.vrm.vba.va.gov/UDODEVMOCK2</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>UDO508</Name>
        <DiscoveryServiceUrl>https://internalcrm.crmo.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.crmo.dev.crm.vrm.vba.va.gov/UDO508/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>UDO508</Organization>
        <ServerName>internalcrm.crmo.dev.crm.vrm.vba.va.gov/UDO508</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>UDOTRR2</Name>
        <DiscoveryServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/UDOTRR2/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>UDOTRR2</Organization>
        <ServerName>internalcrm.crmo15.dev.crm.vrm.vba.va.gov/UDOTRR2</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>CRMEMVISANDBOX</Name>
        <DiscoveryServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/CRMEMVISANDBOX/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>CRMEMVISANDBOX</Organization>
        <ServerName>internalcrm.crmo15.dev.crm.vrm.vba.va.gov/CRMEMVISANDBOX</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>CRMEUDOCIHSDEV</Name>
        <DiscoveryServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.crmo15.dev.crm.vrm.vba.va.gov/CRMEUDOCIHSDEV/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>CRMEUDOCIHSDEV</Organization>
        <ServerName>internalcrm.crmo15.dev.crm.vrm.vba.va.gov/CRMEUDOCIHSDEV</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>CRME2015DEV</Name>
        <DiscoveryServiceUrl>https://internalcrm.crme15.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.crme15.dev.crm.vrm.vba.va.gov/CRME2015DEV/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>CRME2015DEV</Organization>
        <ServerName>internalcrm.crme15.dev.crm.vrm.vba.va.gov/CRME2015DEV</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>CRMECONFIG</Name>
        <DiscoveryServiceUrl>https://internalcrm.crme15.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.crme15.dev.crm.vrm.vba.va.gov/CRMECONFIG/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>CRMECONFIG</Organization>
        <ServerName>internalcrm.crme15.dev.crm.vrm.vba.va.gov/CRMECONFIG</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>CRME2015DEMO</Name>
        <DiscoveryServiceUrl>https://internalcrm.crme15.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.crme15.dev.crm.vrm.vba.va.gov/CRME2015DEMO/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>CRME2015DEMO</Organization>
        <ServerName>internalcrm.crme15.dev.crm.vrm.vba.va.gov/CRME2015DEMO</ServerName>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>DEVICP</Name>
        <DiscoveryServiceUrl>https://internalcrm.icp.dev.crm.vrm.vba.va.gov/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>https://internalcrm.icp.dev.crm.vrm.vba.va.gov/DEVICP/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Organization>DEVICP</Organization>
        <ServerName>internalcrm.icp.dev.crm.vrm.vba.va.gov/DEVICP</ServerName>
      </CrmConnectionParms>
    </ConnectionParms>
  </CrmConnectionParmsConfiguration>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="false" logMessagesAtServiceLevel="false"
        logMessagesAtTransportLevel="false" />
    </diagnostics>
  </system.serviceModel>
</configuration>
