<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CrmConnectionParmsConfiguration" type="CRM007.CRM.SDK.Core.ObjectConfigHandler, CRM007.CRM.SDK.Core" />
  </configSections>
  <CrmConnectionParmsConfiguration type="CRM007.CRM.SDK.Core.CrmConnectionParmsConfiguration, CRM007.CRM.SDK.Core">
    <DefaultCrmConnectionParmsName>OnPremiseDevelopmentConnection</DefaultCrmConnectionParmsName>
    <ConnectionParms>
      <CrmConnectionParms>
        <Name>Egain</Name>
        <DiscoveryServiceUrl>http://swofford/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>http://swofford/Egain/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Domain>VA-DON-DC.LOCAL.GOV</Domain>
        <UserName>Administrator</UserName>
        <Password>##Shadow2</Password>
        <Organization>Egain</Organization>
      </CrmConnectionParms>
      <CrmConnectionParms>
        <Name>CrmUd</Name>
        <DiscoveryServiceUrl>http://swofford/XRMServices/2011/Discovery.svc</DiscoveryServiceUrl>
        <OrganizationServiceUrl>http://swofford/crme/XRMServices/2011/Organization.svc</OrganizationServiceUrl>
        <Domain>VA-DON-DC.LOCAL.GOV</Domain>
        <UserName>Administrator</UserName>
        <Password>##Shadow2</Password>
        <Organization>CRME</Organization>
      </CrmConnectionParms>
    </ConnectionParms>
  </CrmConnectionParmsConfiguration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Basic">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="Custom">
          <binaryMessageEncoding />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:8085/Servicebus" binding="customBinding"
        bindingConfiguration="Custom" contract="ServicebusServiceReference.IServicebusWcf"
        name="Custom" />
      <endpoint address="https://localhost:8085/Servicebus/Basic" binding="basicHttpBinding"
        bindingConfiguration="Basic" contract="ServicebusServiceReference.IServicebusWcf"
        name="Basic" />
    </client>
  </system.serviceModel>
</configuration>